@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:#bb726b;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;

}

.StorName{
    text-decoration: none;
    color: azure;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 1.8em;
}

.Navigation li{
    display: inline-block;
}

.Navigation a{
    display: grid;
    justify-content: left;
    color: azure;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 30px;
}

.Navigation a:hover{
color: #8d4441;
}
.menu a:hover{
    color: #8d4441;
}

.menu a {
    padding: 12px;
    color:#fefaf9;
    text-decoration: none;
}

.menu li{
    display: block;
}

.menu {
    display: none;
    position: absolute;
    background-color: #bd726f;
    padding: 0;
} 

.dropdown:hover .menu{
    display: block;
}
section{
    padding: 100px 200px;
    background-color: #efecf0;
}

.Home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/home-img.jpeg");
    background-size: cover;
    background-position: center;

}
.PHome{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/p-img.jpg");
    background-size: cover;
    background-position: center;
}


.Home h1{
    color:aliceblue;
    font-style: italic;
    font-size: 2.3em;
    font-weight: 1000; 
}

.PHome h1{
    color:aliceblue;
    font-style: italic;
    font-size: 2.3em;
    font-weight: 1000; 
}

.Home h2{
    display: inline-block;
    margin-top: 10px;
    color: azure;
    font-size: 1.7em;
    font-weight: 600;
}

.Aboutus{
    display: inline-block;
    justify-content: center;
    color:#3e342e;
    text-transform:capitalize;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.8em;  
}

.Aboutus ul{
    display:inline-block;
    justify-content: center;
    color:#3e342e;
    text-transform:capitalize;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1em;   
}

.Main-btn{
color:azure;
background-color:#9f5552;
text-decoration: none;
font-size: 1.1em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-top: 30px;
margin-bottom: 30px;
transition: 0.7s ease;

}

.Main-btn:hover{
    background-color: #bd726f;
    transform: scale(1.3);
}

.Product {
    background-color: #efecf0;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    padding-top: 20px;
 
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 .card{
    background-color: rgb(219, 175, 173);
    border: 2px solid rgb(219, 175, 173);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
 }

 .card:hover{
    transform: scale(1.1)
 }

 .image img{
     width: 100%;
 }

 .card:hover .Blog-image{
    opacity: 0.8;
 }

 .Info{
    padding: 1em;
 }
 .title{
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
 }
 .Subtitle{
    display: flex;
    margin-top: 10px;
 }
 .order{
    text-decoration: none;
    color: #9f5552;
 }

 .order:hover{
    color: #bd726f;
 }

 .SAR {
    color: #8d4441;
 }


.footer{
   background-color: #3e342e;
   color: azure;
   padding: 2em;
   display: flex;
   justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: aliceblue;
}

.footer-q{
    font-size: 1.3em;
    font-weight: 600;  
    color:aliceblue
}


@media (max-width:1023px) {
  
    .Home h2{
        font-size: 1.7em;
    }
    .Home h3{
        font-size: 1em;
        
    }

    .Blog h2{
        font-size: 1.5em;
    }

    .Contact h3{
        font-size: 1.5em;
     }

    header{
        padding: 12px 20px;
    }
    .start-page h1{
        font-size: 1.1em;
    }
    .start-page h3{
        font-size: 0.8em;
        
    }
    .start-page figcaption{
        font-weight: 300;
        font-size: 0.8em;
        }

    section{
        padding: 80px 20px;
    }

     .footer-title{
        font-size: 0.8em;
     }
     .social-icon a{
        font-size: 1em;
        padding-right: 10px;
    }
    .avatar{
    border-radius: 80%;
}
.body h2{
    font-size: 1.2em;
    font-weight: 750;
}
.body p{
    font-size: 0.9em;
    font-weight: 500;
}


.quotes blockquote{
    font-size: 1.1em;
    font-weight: 700;
}
    
}