@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color:darkcyan;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;

}

.logo{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
}

.Navigation a{
    color: azure;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 30px;
}

.Navigation a:hover{
color: aquamarine;
}

section{
    padding: 100px 200px;
}

.Home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background : url(file:///C:/Users/duaas/OneDrive/Desktop/Blog/img/cat.jpeg);
    background-size: cover;
    background-position: center;

}

.Home h2{
    color:aquamarine;
    font-style: italic;
    font-size: 2.3em;
    font-weight: 1000;
}
.Home h3{
    display: inline-block;
    margin-top: 10px;
    color: azure;
    font-size: 1.5em;
    font-weight: 600;
}
.Main-btn{
color:azure;
background-color:blueviolet;
text-decoration: none;
font-size: 1.1em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-top: 30px;
margin-bottom: 30px;
transition: 0.7s ease;

}

.Main-btn:hover{
    background-color: rgb(71, 0, 138);
    transform: scale(1.1);
}

.social-icon a{
    color: blueviolet;
    font-size: 1.6em;
    padding-right: 30px;
}

.Blog {
    background-color: rgb(220, 243, 241);
}

.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    padding-top: 20px;
 
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Blog h2{
    display: flex;
    justify-content: center;
    color:blueviolet;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 2.5em;
}
 .card{
    background-color: azure;
    border: 2px solid azure;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
 }

 .card:hover{
    transform: scale(1.1)
 }

 .image img{
     width: 100%;
 }

 .card:hover .Blog-image{
    opacity: 0.8;
 }

 .Blog-Info{
    padding: 1em;
 }
 .Blog-title{
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
 }
 .Blog-Subtitle{
    display: flex;
    margin-top: 10px;
 }
 .More-details{
    text-decoration: none;
    color: blueviolet;
 }

 .More-details:hover{
    color: rgb(71, 0, 138);
 }
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:blueviolet;
    color: white;
    font-size: 1.5;
    font-weight: 800;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:rgb(71, 0, 138);
    transform: scale(1.1);
  }
  
  .Contact {
    border-radius: 5px;
    background-color: rgb(193, 229, 227);
    color: blueviolet;
    padding: 20px;
  }

  .Contact h3{
    display: flex;
    justify-content: center;
    color:blueviolet;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 2.5em;
}

.footer{
   background-color: #19201e; 
   color: azure;
   padding: 2em;
   display: flex;
   justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: blueviolet;
}